@font-face {
  font-family: "Blackout";
  src: url("../fonts/title_font.ttf");
}

@font-face {
  font-family: "Whiteout";
  src: url("../fonts/subtitle_font.ttf");
}

@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');


body {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  background: #ececec;
  background-attachment: fixed;
}

section {
  margin-bottom: 2rem;
}

p {
  text-align: justify;
  font-family: "Helvetica", sans-serif;
  font-size: calc(.6em + 0.5vw);
  line-height: calc(0.9em + 0.5vw);
  color: rgb(31, 31, 31);
}

h2 {
  margin-top: 3%;
  font-size: calc(.5em + 1vw);
  text-align: center;
  color: #0b693e;
  font-family: 'Kaushan Script', cursive;
}

.intro { margin: 0 10% 10px 12%; }


.bio { 
  float: left;
  margin: 0 0 0 9%;
  max-width: 45%;
}
.bio-pic {
  float: right;
  margin-right: 3%;
  max-width: 40%;

}

.services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  list-style: none;
  margin: 0 20% 2rem 12%;
  border: 0;
  font-family: "Helvetica", sans-serif;
  font-size: calc(.6em + 0.5vw);
  text-align: center;
  line-height: calc(0.9em + 0.5vw);
  color: rgb(31, 31, 31);
  li {
    padding: 6px 12px;
    margin: 1px;  
    background: #0b693e;
    color: #ececec;
    border-radius: 10px;
  }
}